:root {
    /* Colors */
    --main-color: #7060f7;
    --sec-color: #ee0097;
    --back-color: #210f40;
    --main-gradient: linear-gradient(135deg, var(--main-color) 0%, var(--sec-color) 100%);
    --soft-gradient: linear-gradient(135deg, #fff 0%, #e1d4ee 30%, #ffe6f8 50%, #d9e4ff 70%, #fff 100%);

    /* Font */
    --main-font: 'Poppins';
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;
    --font-size-head: 24px;
    --font-size-sub: 16px;
    --font-size-phar: 12px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--main-font), sans-serif;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-phar);
    font-kerning: normal;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
            radial-gradient(farthest-side,var(--main-color) 94%,#0000) top/8px 8px no-repeat,
            conic-gradient(#0000 30%,var(--main-color));
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{
    100%{transform: rotate(1turn)}
}

body p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-1lvl {
    font-size: 3em;
}

.text-2lvl {
    font-size: 2em;
}

.text-3lvl {
    font-size: 1.5em;
}

.text-4lvl {
    font-size: 1.2em;
}

.text-5lvl {
    font-size: 1em;
}

.font-semi-bold {
    font-weight: var(--font-weight-semi-bold);
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.selected {
    color: var(--main-color);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}


.font-main-color {
    color: var(--main-color);
}

.icon-main-color {
    fill: var(--main-color);
}

.icon-small {
    width: 15px;
}

.icon-medium {
    width: 25px;
}

.erase-list-style {
    list-style-type: none;
    padding-left: 0;
}

.main-gradient-text {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}