.appointment-card {
    border-radius: 8px;
    background: #e7e4ed;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid transparent;
    max-height: 63px;
    transition: background-color 0.3s, color 0.3s;
}

.appointment-card:hover {
    cursor: pointer;
    background: #d5cee6;
}