.pet-card {
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    gap: 20px;
}

.pet-image {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pet-details {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.pet-name {
    font-size: 1.2rem;
}

.pet-icon {
    height: 40%;
    fill: #b1b1b1;
}

.pet-appointments {
    margin-top: 16px;
}

.pet-appointments-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.pet-appointments-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}