.push-messages-interface {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}