.reserve-appointment-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.reserve-appointment-menu {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    animation: fadeInX 0.3s ease-in-out;
}

.pet-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    font-size: 1.2em;
}

.pet-item:hover {
    background-color: #f0f0f0;
}

.disabled {
    opacity: 0.5;
    cursor: auto;
}