.time-period-card {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 20px;
    gap: 20px;
}

.time-period-card:hover {
    color: var(--main-color);
}

.time-period-card .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0 20px;
}

.time-period-card .appointments {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}