.add-pet-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.add-pet-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.pet-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-color);
}

.add-pet-form {
    position: relative;
    width: 100%;
    max-width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-pet-form-icon {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.add-pet-form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background: white;
    color: black;

    &:hover {
        background: #e9deff;
    }
}