.calendar-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.calendar-content {
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
}

.calendar-section {
    flex: 0 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.hours-section {
    width: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ee4723;
    padding: 5px;
}

.appointments-section {
    flex: 1 1;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #f3f3f3;
    padding: 30px;
}